[submodule "themes/pneumatic"]
	path = themes/pneumatic
	url = https://github.com/svyatoslav-kubakh/pelican-pneumatic-theme.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
